/.cache export-ignore
/.devcontainer export-ignore
/.github export-ignore
/.idea export-ignore
/.logs export-ignore
/.vscode export-ignore
/docker export-ignore
/test export-ignore
/tools export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/docker-compose.yml export-ignore
/infection.json.dist export-ignore
/phive.xml export-ignore
/psalm.xml export-ignore
